body{
    background-color: #ccc;
    margin: 0;
}
body *, body *::before, body *::after{
box-sizing: border-box;
}
.header, .visual, .main, .slogan, .footer-content{
width: 940px;
margin: 0 auto;
}
/* 헤더 */
.header{
background-color: #fff;
border-top: 1px solid transparent;
position: relative;
}
/* 로고 */
.logo{
    margin: 0; 
    position: absolute;
    top: 45px;
    left: 65px;
    font-size: 1em;
    /* font-size: 100%;  위에꺼랑 같은 말! */
    line-height: 1;
}
/* 로고 안에 있는 요소들이 갖는 패딩들을 없애는 과정 */
/* .logo a, .logo img{
    display: block;
} */
/* 안내 링크 */
.member{
    margin: 0;
}
.visual{
background-color: salmon;
height: 10vh;
}
.main{
background-color: blue;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 30px;
min-height: 450px;
}
.group{
height: 60vh;
}
.group1{
background-color: violet;
width: 250px;
}
.group2{
background-color: aqua;
width: 380px;
}
.group3{
background-color: sandybrown;
width: 190px;
}
.slogan{
background-color: lightgreen;
height: 10vh;
}

.footer{
background-color: silver;
}
.footer-content{
background-color: pink;
height: 10vh;
}